:root {
    --secondary : #ff3a3a;
    --secondaryh : #c70505;

    --primary : #5D6975;
    --primaryh : #424E60;
}

body {
    font-family: 'Arial', sans-serif;

    padding: 20px;
    background-color: #fcffd5;
    color: var(--primary);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input[type="text"],
input[type="number"] {
    width: 600px;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}


input[type="submit"], a {
    padding: 10px 0px;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid var(--primaryh);
    color: white;
    width: 200px;
}

a {

    background-color: var(--secondary);
    text-decoration: none;
    text-align: center;

}

a:hover {
    background: var(--secondaryh);
}

input[type="submit"] {
    
    
    background-color: var(--primary);


}

input[type="submit"]:hover {
    background-color: var(--primaryh);
}

.d {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

h2 {
    cursor: default;
}