/* member_only.css */

:root {
    --default: #f4f4f4;
    --primary: #4cae4c;
}

body {
    font-family: "Arial", sans-serif;
    background-color: var(--default);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    border: 1px solid #ccc;
    position: relative;
    background: url("../images/1.bmp");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: white;
}

.cont-header {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /*filter: brightness(0.1);*/
}

h1,
p {
    cursor: default;
    text-align: center;
}

.cont-form {
    backdrop-filter: brightness(40%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-form input[type="submit"] {
    
    background-color: #4cae4c;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    transition: transform 0.2s;
    color: #f4f4f4;
    padding: 10px;
    width: 60%;
}

.cont-form input[type="submit"]:hover {
    background-color: #0c810c;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    margin: 50px;
}

#aj {
    font-family: "Arial", sans-serif;
    display: inline-block;
    background-color: #4cae4c;
    margin-top: 10px;
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    transition: transform 0.1s;
}

#aj:hover {
    background-color: #0c810c;
    transform: scale(1.05);
}

.link {
    text-align: center;
    margin-top: 30px;
}

.para, p {
    margin: 0;
    padding: 50px;
}
